
<html>
  <head>
    <title>Smart Eye Camera</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <center>
      <h1>Smart Eye</h1>
    
    </center>
    <img  src="{{url_for('static',filename='image/face/harish1.jpg') }}">
    <img  src="{{url_for('static',filename='image/face/harish2.JPG') }}">
    <img  src="{{url_for('static',filename='image/face/yash.jpg') }}">
    <img  src="{{url_for('static',filename='image/face/harish3.JPG') }}">
     </body>
</html>
