
<html>
  <head>
    <title>Smart Eye Camera</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <center>
      <h1>Smart Eye</h1>
    
    <img style="position:fixed;top:100px;left:330px;width:700px;height:500px;z-index:0.6" id="bg" src="{{ url_for('video_feed') }}" >
    </center>
    <img id="img" src="{{url_for('static',filename='image/index.png') }}">
    <img id="img2" src="{{url_for('static',filename='image/index.png') }}">
     </body>
</html>
